html {background-color: #f8f8f8;}

.link {
  color:#0000ff;
  cursor:pointer;
}

body {
	background-color: #ffffff;
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
	text-align: left;
	line-height: 1.25;
	margin: 16px auto;
	padding:4%;
	border: solid #a0a0a0 1px;
	border-radius: 20px;
	width: 80%;}

table {font-size: 10pt;}

h1, h2, h3, h4 {
	color: #000080;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-style: normal;
	text-align: left;}

h1 {font-size: 16pt;}
h2 {font-size: 14pt;}
h3 {font-size: 12pt;}
h4 {font-size: 10pt; margin-top:8px; margin-bottom:4px;}

a:link {color:#000080; text-decoration:none;}
a:active {color:#000080; text-decoration:none;}
a:visited {color:#000080; text-decoration:none;}
a:hover {color:#000080; text-decoration:underline; background-color: #f0f0f0;}

pre {padding-left:8px;
     background:#f8f8f8;
     margin-top:4px;
     margin-bottom:4px;}
pre, code {font-size:100%;}
tt {font-size:110%; word-spacing:-8px; white-space:nowrap;}
i {font-family:Times New Roman; font-size:100%;}
span.apii {color:gray;
	       float:right;
	       font-style:normal;
	       font-size:80%;}

.note {font-size:80%;
       color:#808080;
       background-color:#ffffe8;
       margin-top:4px;
       margin-bottom:4px;
       margin-left:10px;
       margin-right:10px;}

.indent {text-align:left;
         padding-left:20px;
         padding-right:10px;
         margin-top:4px;
         margin-bottom:0px;
         background-color:#e0e0e0;}
.blockindent {padding-left:20px;
              padding-right:10px;
              margin-top:4px;
              margin-bottom:4px;}
ul {margin-top:4px;
    margin-bottom:4px;}
.nowrap {white-space:nowrap;}
